h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: var(--color-black);
  margin: 0;
}

p {
  line-height: 1.6;
  margin: 0;
}

.bb-meta {
  color: var(--color-medium-gray);
  font-size: var(--font-size-sm);
}
