@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
    font-family: "shurjo";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local("Shurjo Regular"), url("https://assets.prothomalo.com/prothomalo/assets/ShurjoWeb_400_v2-f516035cb806da4a249e.woff") format("woff2"), url("../fonts/ShurjoWeb_400.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: shurjo;
}

:root {
    --bs-gray-bg: #f7f7f7;
    --bs-dark-font: #a5a5a5;
}

body {
    font-family: shurjo;
    font-size: 16px;
    line-height: 24px;
}

.company-details {
    margin-bottom: 30px;
}

table,
th,
td {
    border: 1px solid #e2e2e2;
    border-collapse: collapse;
}

th {
    font-size: 16px;
}

th,
td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: var(--bs-gray-bg);
}

table caption {
    margin: 12px 0;
}

.todays-details p {
    text-align: right;
    color: #9d9d9d;
    font-size: 13px;
}

.t1_ads {
    text-align: center;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
    padding-top: 16px;
}

.share-scroller-content {
    display: grid;
    grid-template-columns: 2% minmax(350px, 96%) 2%;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--bs-gray-bg);
    height: 54px;
}

.share-scroller__date {
    color: #a0a0a0;
    font-size: 12px;
}

.share-scroller__scroller-icon {
    background-color: var(--bs-gray-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px 3px #eeeeee;
    border: 1px solid #f3f3f3;
}

.share-scroller__scroller-icon-each {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.share-scroller__scroller-icon-each a {
    display: block;
}

.share-scroller__scroller-icon a {
    color: #cccccc;
}

.share-scroller__scroller-icon a:hover {
    color: #555555;
}

a.share-scroller__scroller-icon-active {
    /* color: #555555; */
    background-color: #bee1ff;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #f7f7f7;
}

.share-scroller-all-item {
    display: flex;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: ticker;
    animation-duration: 500s;
}

.share-scroller-all-item:hover {
    animation-play-state: paused;
}

.share-scroller__each-item {
    border-right: 1px solid #e2e2e2;
}

.share-scroller__each-item:nth-last-child(1) {
    border-right: none;
}

.share-scroller__each-item {
    padding: 5px 10px;
    display: inline-block;
    font-size: 2rem;
    color: white;
    flex-shrink: 0;
}

.fa-angle-double-up {
    color: #15c633;
}

.fa-angle-double-down {
    color: #d00909;
}

.share-scroller__each-item p {
    line-height: 18px;
    font-size: 12px;
    margin-top: 5px;
}

.share-scroller__each-item_positive-growth p {
    color: #00aa62;
}

.share-scroller__each-item_negative-growth p {
    color: #ed252d;
}

.share-scroller__each-item_stable-growth p {
    color: #08a8c2;
}

.share-scroller__each-item__content {
    float: left;
}

.share-scroller__each-item__content p span.english_text {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: normal;
}

.share-scroller__each-item__arrow {
    float: left;
    margin-top: 6px;
    margin-left: 8px;
}

.share-scroller__scroller-icon-active {
    background-color: #ffffff;
    box-shadow: 0px 0px 3px 3px #eeeeee;
    border: 1px solid #f3f3f3;
}

.share-scroller__scroller-icon-active a {
    color: #555555;
}

.dse-statics {
    display: grid;
    grid-template-columns: auto 300px;
    grid-gap: 30px;
}

.statistics-left h4 {
    background-color: var(--bs-gray-bg);
    padding: 10px;
    margin-bottom: 10px;
}

.statistics-left-content table {
    margin-bottom: 14px;
    text-align: center;
}

.statistics-left-content table th td,
.statistics-left-content table tr td {
    padding: 6px;
}

.statistics-left-content table th {
    color: var(--bs-dark-font);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-52454px, 0, 0);
        transform: translate3d(-52454px, 0, 0);
    }
}

/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #e2e2e2;
    background-color: #f7f7f7;
    padding-top: 8px;
    border-bottom: none;
}

.tab_indiced {
    float: left;
    font-weight: 700;
    margin-left: 10px;
}

/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 16px;
    transition: 0.3s;
    font-size: 16px;
    background: #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-right: 4px;
}

/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #fff;
}

/* Create an active/current tablink class */

.tab button.active {
    background-color: #fff;
}

/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #e2e2e2;
    border-top: none;
}

.chart .apexcharts-canvas {
    width: 100% !important;
}

.chart .apexcharts-canvas svg {
    width: 100%;
}

.chart-area {
    margin-bottom: 32px;
}

@media screen and (max-width: 960px) {
    .dse-statics {
        display: block;
    }
    .r1-ad {
        text-align: center;
        margin-top: 20px;
    }
    .share-scroller-content {
        grid-template-columns: 8% minmax(300px, 84%) 8%;
    }
    .share-scroller-all-item {
        animation-duration: 500s;
    }
}